<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="row2">
        <form action="#" th:action="@{/logout}" method="post">
            <input class="btn btn-info" type="submit" value="Logout"/>
        </form>
    </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Clones Seciotn Name</td>
                        <td>Clones Section Type</td>
                        <td>QNT.</td>
                        <td>Action</td>
                        <td>Clones Section Commander</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="clones : ${allClones}">
                        <td th:text="${clones.sectionName}"></td>
                        <td th:text="${clones.sectionType}"/>
                        <td th:text="${clones.sectionQuentity}"/>
                        <td><a class="btn btn-danger" th:href="${'/delete_clones/'+clones.id}">Delete</a> </td>
                        <td th:text="${clones.sectionCommander}"></td>
                        <td>
                            <span th:if="${clones.sectionCommander != null}"><a class="btn btn-success" disabled="">Assign Commander</a></span>
                            <span th:if="${clones.sectionCommander == null}"><a class="btn btn-success" th:href="${'/assign_commander_clones/'+ clones.id}">Assign Commander</a></span>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <a class="btn btn-primary" href="/new_clones"> Recruitment </a>
                </div>
            </div>
        </div>
</body>
</html>
<style>
    .panel-default {
        width: 60%;
        margin-left: 20%;
    }
    .row {
        margin-left: 1px;
    }
    .row2 {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }
</style>