<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jedi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="row2">
        <form action="#" th:action="@{/logout}" method="post">
            <input class="btn btn-info" type="submit" value="Logout"/>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>Jedi Name</td>
                        <td>Power Side</td>
                        <td>Age</td>
                        <td>Speeder</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="jedi : ${allJedi}">
                        <td th:text="${jedi.name}"></td>
                        <td th:text="${jedi.side}"/>
                        <td th:text="${jedi.age}"/>
                        <td th:text="${jedi.speeder}"/>
                        <td>
                            <a class="btn btn-danger" th:href="${'/delete_jedi/'+jedi.id}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <div class="row">
                <a class="btn btn-primary" href="/new_jedi"> Recruitment </a>
            </div>
        </div>
    </div>
</body>
</html>
<style>
    .panel-default {
        width: 60%;
        margin-left: 20%;
    }
    .row {
        margin-left: 1px;
    }
    .row2 {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }
</style>