<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Droids</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <form th:object="${droids}" th:action="@{/assign_commander_droids}" th:method="post" >
                <div class="panel-heading">Pick Commander for Droids Section: <span class="bold" th:text="${droids.sectionName}"/></div>
                <div class="panel-body">

                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{sectionName}"/>
                        <input type="hidden" th:field="*{sectionType}"/>
                        <input type="hidden" th:field="*{sectionQuentity}"/>

                        <div class="form-group">
                            <select class="form-control" th:field="*{sectionCommander.id}">
                                <option th:each="jedi : ${allJedi}"
                                        th:value="${jedi.id}"
                                        th:text="${jedi.name}">?</option>
                            </select>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">ADD</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<style>
    .panel-heading {
        font-size: 16px;
        text-align: center;
    }
    .bold {
        font-weight: bold;
    }
    .panel-default {
        width: 20%;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .row {
        margin-left: 1px;
    }
</style>