<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">Clones recruitment form</div>
            <div class="panel-body">
        <form class="form-horizontal" th:object="${clones}" th:action="@{/saveClones}" th:method="post">
            <div class="input-group">
                <span class="input-group-addon">Section Name:</span>
                <input  type="text" class="form-control" th:field="*{sectionName}" />
            </div>
            <p th:if="${#fields.hasErrors('sectionName')}" th:errors="*{sectionName}"/>
            <div class="input-group">
                <span class="input-group-addon">Section Type:</span>
                <input type="text" class="form-control" th:field="*{sectionType}"/>
            </div>
            <p th:if="${#fields.hasErrors('sectionType')}" th:errors="*{sectionType}"/>
            <div class="input-group">
                <span class="input-group-addon">Quantity:</span>
                <input type="number" class="form-control" th:field="*{sectionQuentity}"/>
            </div>
            <p th:if="${#fields.hasErrors('sectionQuentity')}" th:errors="*{sectionQuentity}"/>
            <button type="submit" class="btn btn-primary">Recruit</button>
        </form>
    </div></div></div>
</body>
</html>
<style>
    .panel-heading {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
    .panel-info {
        width: 25%;
        position: absolute;
        top: 17%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .row {
        margin-top: 10px;
        margin-left: 1px;
    }
    .input-group-addon {
        width: 30%;
    }
    .input-group {
        width: 95%;
        margin: 7px;
    }
</style>