<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jedi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Jedi recruitment form</div>
        <div class="panel-body">
    <form class="form-horizontal" th:object="${jedi}" th:action="@{/saveJedi}" th:method="post">
        <div class="input-group">
            <span class="input-group-addon">Jedi Name</span>
            <input  type="text" class="form-control" th:field="*{name}" />
        </div>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        <div class="input-group">
            <span class="input-group-addon">Side</span>
            <input type="text" class="form-control" name="msg" placeholder="Dark/Light" th:field="*{side}"/>
        </div>
        <p th:if="${#fields.hasErrors('side')}" th:errors="*{side}"/>
        <div class="input-group">
            <span class="input-group-addon">Age</span>
            <input type="number" class="form-control" name="msg" placeholder="Int" th:field="*{age}"/>
        </div>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/>
        <button type="submit" class="btn btn-primary">Recruit</button>
    </form>
        </div></div></div>
</body>
</html>
<style>
    .panel-heading {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
    .panel-info {
        width: 25%;
        position: absolute;
        top: 17%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .row {
        margin-top: 10px;
        margin-left: 1px;
    }
    .input-group-addon {
        width: 30%;
    }
    .input-group {
        width: 95%;
        margin: 7px;
    }
</style>